.card-article
    width: 286px
    padding: 16px 16px 24px 16px
    background-color: #fff
    border-radius: 16px
    box-shadow: 0px 0px 20px -2px rgba(56, 59, 128, 0.25)
    font-family: YS Text
    color: #1a1b22
    box-sizing: border-box
    transition: box-shadow .2s linear
    cursor: pointer
    &:hover
        box-shadow: 0 0 20px -2px rgba(22, 26, 83, 0.422)
    &__container
        display: flex
        align-items: center
        justify-content: center
        position: relative
        margin: 0 0 16px
    &__btn
        position: absolute
        top: 0
        right: 0
    &__title
        font-size: 14px
        font-weight: 500
        line-height: 20px
        margin: 0 0 4px 0

    &__description
        font-size: 13px
        line-height: 16px
        margin: 0 0 16px 0
        min-height: 32px

    &__footer
        display: flex
        align-items: center
        justify-content: space-between

    &__name
        margin: 0
        display: flex
        gap: 8px
        color: #797981
        font-size: 14px
        line-height: 20px
        position: relative
        padding: 0

    &__icon
        background-size: cover
        background-position: center
        width: 20px
        height: 20px

    &__timer
        font-size: 14px
        line-height: 20px
        color: #797981
